In [1]:
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
df.shape

(1338, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# Check for null values
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
cat_var = [x for x in df.columns if df[x].dtypes == 'object']
cat_var

['sex', 'smoker', 'region']

In [7]:
# Using Label Encoder
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
for col in cat_var:
    df[col] = enc.fit_transform(df[col])

In [8]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [9]:
# Scaling : min max scaling
data = df.drop('charges', axis = 1)
data = data.apply(lambda x: (x - x.min())/(x.max() - x.min()))
data['charges'] = df.charges

In [10]:
x = data.drop('charges', axis = 1).to_numpy()
y = df.charges.to_numpy()

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 0)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1003, 6)
(1003,)
(335, 6)
(335,)

In [13]:
X_train = torch.tensor(X_train, dtype = torch.float32)
X_test = torch.tensor(X_test, dtype = torch.float32)
y_train = torch.tensor(y_train, dtype = torch.float32).view(-1, 1)
y_test = torch.tensor(y_test, dtype = torch.float32).view(-1, 1)

In [14]:
X_train

tensor([[0.3043, 0.0000, 0.3667, 0.2000, 0.0000, 0.6667],
        [0.9348, 0.0000, 0.1636, 0.0000, 0.0000, 0.0000],
        [0.0217, 1.0000, 0.2324, 0.2000, 0.0000, 1.0000],
        ...,
        [0.4783, 1.0000, 0.2454, 0.0000, 0.0000, 0.6667],
        [0.0217, 1.0000, 0.5265, 0.0000, 0.0000, 0.3333],
        [0.3261, 0.0000, 0.0683, 0.2000, 0.0000, 1.0000]])

In [15]:
X_test

tensor([[0.7391, 1.0000, 0.3831, 0.2000, 0.0000, 1.0000],
        [0.6304, 0.0000, 0.3608, 0.2000, 0.0000, 0.6667],
        [0.6522, 1.0000, 0.6620, 0.4000, 1.0000, 0.3333],
        ...,
        [0.7174, 1.0000, 0.3785, 0.2000, 0.0000, 0.6667],
        [0.1087, 1.0000, 0.5687, 0.6000, 0.0000, 1.0000],
        [0.9348, 0.0000, 0.3527, 0.0000, 1.0000, 0.3333]])

In [16]:
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader

In [17]:
data = TensorDataset(X_train, y_train)

In [18]:
batch_size = 10
train_dl = DataLoader(data, batch_size, shuffle = True)

In [19]:
# Creating a model : it will just generate random parameters
x_num = X_train.shape[1]

model = nn.Linear(x_num, 1)

In [20]:
list(model.parameters())

[Parameter containing:
 tensor([[-0.2729, -0.0684,  0.1909,  0.1131,  0.1384,  0.0046]],
        requires_grad=True),
 Parameter containing:
 tensor([-0.2219], requires_grad=True)]

In [21]:
print(model.weight)
print(model.bias)

Parameter containing:
tensor([[-0.2729, -0.0684,  0.1909,  0.1131,  0.1384,  0.0046]],
       requires_grad=True)
Parameter containing:
tensor([-0.2219], requires_grad=True)

In [22]:
# Create a loss function
import torch.nn.functional as f
loss_fn = f.mse_loss

In [23]:
loss_fn(model(X_train), y_train)

tensor(3.1756e+08, grad_fn=<MseLossBackward0>)

In [24]:
X_train.dtype

torch.float32

In [25]:
model.weight.dtype

torch.float32

In [26]:
# The prediction will still be very poor
preds = model(X_train)
preds

tensor([[-0.2093],
        [-0.4458],
        [-0.2246],
        ...,
        [-0.3709],
        [-0.1942],
        [-0.2706]], grad_fn=<AddmmBackward0>)

In [27]:
# Creating an optimizer 
optimizer = torch.optim.SGD(model.parameters(), lr= 1e-5)

# Train the model

In [33]:
def fit(model, epochs, train_dl, optimizer, loss):
    # Looping through the number of epoch
    for epoch in range(epochs):
        for xb, yb in train_dl:
            # Generate predictions
            pred = model(xb)

            # Calculate the loss
            loss = loss_fn(pred, yb)
            
            # compute the gradient values wrt to weights and biases
            loss.backward()
            
            # optimize
            optimizer.step()
            
            # Clear the gradients
            optimizer.zero_grad()
            
        if (epoch + 1) % 10 == 0:
            print(f"[{epoch + 1}/{epochs}], Loss : {loss.item()}")

In [34]:
history = fit(model, 1000, train_dl, optimizer, loss_fn)

[10/1000], Loss : 186522256.0
[20/1000], Loss : 161153856.0
[30/1000], Loss : 234979584.0
[40/1000], Loss : 23296504.0
[50/1000], Loss : 14207824.0
[60/1000], Loss : 132268040.0
[70/1000], Loss : 155128688.0
[80/1000], Loss : 21094694.0
[90/1000], Loss : 8325972.5
[100/1000], Loss : 22767126.0
[110/1000], Loss : 441279328.0
[120/1000], Loss : 34741344.0
[130/1000], Loss : 354510880.0
[140/1000], Loss : 37147484.0
[150/1000], Loss : 1000147136.0
[160/1000], Loss : 485517984.0
[170/1000], Loss : 301567616.0
[180/1000], Loss : 4555414.5
[190/1000], Loss : 367803040.0
[200/1000], Loss : 99667736.0
[210/1000], Loss : 297514080.0
[220/1000], Loss : 181989680.0
[230/1000], Loss : 16781482.0
[240/1000], Loss : 18277672.0
[250/1000], Loss : 846893568.0
[260/1000], Loss : 505232128.0
[270/1000], Loss : 13472028.0
[280/1000], Loss : 218811136.0
[290/1000], Loss : 392952320.0
[300/1000], Loss : 198942800.0
[310/1000], Loss : 39680640.0
[320/1000], Loss : 27862710.0
[330/1000], Loss : 3842316.75
[340/1000], Loss : 23135704.0
[350/1000], Loss : 26363146.0
[360/1000], Loss : 293990912.0
[370/1000], Loss : 265633264.0
[380/1000], Loss : 162278976.0
[390/1000], Loss : 376601504.0
[400/1000], Loss : 5064212.5
[410/1000], Loss : 177799760.0
[420/1000], Loss : 9069423.0
[430/1000], Loss : 32298814.0
[440/1000], Loss : 57528736.0
[450/1000], Loss : 225586576.0
[460/1000], Loss : 3668078.75
[470/1000], Loss : 34355620.0
[480/1000], Loss : 53044896.0
[490/1000], Loss : 80768904.0
[500/1000], Loss : 293413792.0
[510/1000], Loss : 217116560.0
[520/1000], Loss : 40896492.0
[530/1000], Loss : 6046615.5
[540/1000], Loss : 87802296.0
[550/1000], Loss : 268898944.0
[560/1000], Loss : 33398302.0
[570/1000], Loss : 45905620.0
[580/1000], Loss : 65777892.0
[590/1000], Loss : 142917024.0
[600/1000], Loss : 155950896.0
[610/1000], Loss : 6780706.0
[620/1000], Loss : 51540300.0
[630/1000], Loss : 90015456.0
[640/1000], Loss : 8407426.0
[650/1000], Loss : 16904718.0
[660/1000], Loss : 20715802.0
[670/1000], Loss : 88472312.0
[680/1000], Loss : 6085928.0
[690/1000], Loss : 290918976.0
[700/1000], Loss : 162455376.0
[710/1000], Loss : 298773792.0
[720/1000], Loss : 21454200.0
[730/1000], Loss : 19223144.0
[740/1000], Loss : 455617184.0
[750/1000], Loss : 20257070.0
[760/1000], Loss : 188312176.0
[770/1000], Loss : 43156748.0
[780/1000], Loss : 45235732.0
[790/1000], Loss : 11231280.0
[800/1000], Loss : 26984454.0
[810/1000], Loss : 16027831.0
[820/1000], Loss : 46485052.0
[830/1000], Loss : 32202606.0
[840/1000], Loss : 86309904.0
[850/1000], Loss : 26775494.0
[860/1000], Loss : 126736896.0
[870/1000], Loss : 83292576.0
[880/1000], Loss : 25432550.0
[890/1000], Loss : 15936272.0
[900/1000], Loss : 104611368.0
[910/1000], Loss : 237628736.0
[920/1000], Loss : 46518892.0
[930/1000], Loss : 27009424.0
[940/1000], Loss : 121928384.0
[950/1000], Loss : 150293488.0
[960/1000], Loss : 48870612.0
[970/1000], Loss : 52707076.0
[980/1000], Loss : 24881992.0
[990/1000], Loss : 72262568.0
[1000/1000], Loss : 16976946.0